
/* Main Background Color */

.main_bckgrnd {
  background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
}

/* Nav Hover */

.nav_hover:hover {
  background-color: #f0f0f0;
  color: #333 !important;
  cursor: pointer;
  border-radius: 5px;
}

/* Toggle Animation */

.common-nav {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  max-height: 1000px; /* Set a value greater than the expected expanded height */
}

.common-nav.expanded {
  max-height: 500px; /* Set the desired height when the Navbar is expanded */
}

  /* Add this to your CSS or SCSS file */
@media (max-width: 576px) {
  .img-xs-sm {
    width: 100%;
    height: auto;
  }
}

/* Image Hover Effect */

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the background color and opacity */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container img {
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.1); /* Adjust the scale factor for the zoom effect */
  cursor: pointer;
}

/* Menu Card Hover Effect */

.menu_container {
  width: fit-content;
  transition: transform 0.4s ease;
}

.menu_container:hover {
  transform: scale(1.1);
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
}

.menu_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap !important;
}

/* Contact Row */

.contact .form-control {
  padding: 25px;
  font-size: 13px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 0;
  border-radius: 10px;
}

.contact button.btn {
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
  background: rgb(15, 67, 236);
  color: #ffffff;
}

#button:hover {
  background-color: darkblue;
}

.contact .title h3 {
  font-size: 18px;
  font-weight: 600;
}

.contact .title p {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 1.6;
  margin: 0 0 40px;
}

.contact .content .info {
  margin-top: 30px;
}
.contact .content .info i {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #02434b;
  margin-right: 20px;
  text-align: center;
  width: 20px;
}
.contact .content .info h4 {
  font-size: 16px;
  line-height: 1.4;
}

.contact .content .info h4 span {
  font-size: 15px;
  font-weight: 300;
  color: lightgrey;
}

/* Footer Image */

.footer_image {
  width: 250px;
}

/* Footer SVG Top*/

.custom-shape-divider-top-1700634111 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1700634111 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1700634111 .shape-fill {
  fill: #14CCA9;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1700634111 svg {
      width: calc(128% + 1.3px);
      height: 86px;
  }
}

.Up_Arrow {
  cursor: pointer;
  z-index: 1000;
}